<div>
  <h2 class="rewards_redemption_section_heading">Your Redemption Options</h2>   
  <div class="rewards_right_content_reskin">
     <article class="bricklet" id="rewards_content"> 
    <div class="rewards_left_content">
      <div class="rewards_redemption_category">
        <div class="rewards_redemption_category_header">
          <div>
            <img class="rewards_redemption_category_logo" src="../../images/5_16 icon-travel.png">		    
          </div>
          <div class="rewards_redemption_category_data">
            <h3 class="rewards_redemption_category_heading">Travel</h3>
          </div>
          <div class="rewards_redemption_category_content">
            <div class="redemption_buttons_container">
              <div class="redemption_position_container">
                <button class="c1-button blue" onclick="alert('Hello world!')" type="button">Redeem Travel Purchases</button>
				        <button  class="c1-button blue" onclick="alert('Hello world!')" type="button">Book A Trip</button>
              </div>
            </div>
          </div>         
         </div>  
	  </div> 
	  <div class="rewards_redemption_category">
        <div class="rewards_redemption_category_header">
          <div>
            <img class="rewards_redemption_category_logo" src="../../images/5_16 icon-gift-cards.png">		    
          </div>
          <div class="rewards_redemption_category_data">
            <h3 class="rewards_redemption_category_heading">Gift Cards</h3>
          </div>
          <div class="rewards_redemption_category_content">
            <div class="redemption_buttons_container">
              <div class="redemption_position_container">
                <button class="c1-button blue" onclick="alert('Hello world!')" type="button">Get Gift Cards</button>				
              </div>
            </div>
          </div>         
         </div>  
	  </div>
	  <div class="rewards_redemption_category">
        <div class="rewards_redemption_category_header">
          <div>
            <img class="rewards_redemption_category_logo" src="../../images/5_16 icon-cash.png">		    
          </div>
          <div class="rewards_redemption_category_data">
            <h3 class="rewards_redemption_category_heading">Cash</h3>
          </div>
          <div class="rewards_redemption_category_content">
            <div class="redemption_buttons_container">
              <div class="redemption_position_container">
                <button class="c1-button blue" onclick="alert('Hello world!')" type="button">Get Account Credit</button>
				        <button  class="c1-button blue" onclick="alert('Hello world!')" type="button">Get Check By Mail</button>
              </div>
            </div>
          </div>         
         </div>  
	  </div>
	  <div class="rewards_redemption_category">
        <div class="rewards_redemption_category_header">
          <div>
            <img class="rewards_redemption_category_logo" src="../../images/5_16 icon-charitable-donations.png">		    
          </div>
          <div class="rewards_redemption_category_data">
            <h3 class="rewards_redemption_category_heading">Charitable Donations</h3>
          </div>
          <div class="rewards_redemption_category_content">
            <div class="redemption_buttons_container">
              <div class="redemption_position_container">
                <button class="c1-button blue" onclick="alert('Hello world!')" type="button">Donate Now</button>				
              </div>
            </div>
          </div>         
         </div>  
	  </div>  
	  <div class="rewards_redemption_category">
        <div class="rewards_redemption_category_header">
          <div>
            <img class="rewards_redemption_category_logo" src="../../images/5_16 icon-travel.png">		    
          </div>
          <div class="rewards_redemption_category_data">
            <h3 class="rewards_redemption_category_heading">Auto Redeem</h3>
          </div>
          <div class="rewards_redemption_category_content">
            <div class="redemption_buttons_container">
              <div class="redemption_position_container">
                <button class="c1-button" onclick="alert('Hello world!')" type="button">Transfer to amazon account</button>				
              </div>
            </div>
          </div>         
         </div>  
	  </div>
	  <div class="rewards_redemption_category">
        <div class="rewards_redemption_category_header">
          <div>
            <img class="rewards_redemption_category_logo" src="../../images/5_16 icon-other-options.png">		    
          </div>
          <div class="rewards_redemption_category_data">
            <h3 class="rewards_redemption_category_heading">Other Options</h3>
          </div>
          <div class="rewards_redemption_category_content">
            <div class="redemption_buttons_container">
              <div class="redemption_position_container">
                <button class="c1-button" onclick="alert('Hello world!')" type="button">Transfer rewards</button>				
              </div>
            </div>
          </div>         
         </div>  
	  </div>         
	 </div>	 
  </article>
  </div>
</div>
